@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #f4536b;
  --main-color-darker: #fa3d5a;
}

body {
  font-family: "Raleway", sans-serif;
  height: 110vh;
  overflow: hidden;
}

.h1-wrapper {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  margin: 1rem auto;
  font-weight: 800;
  padding: 0 1rem;
  color: black;
  position: relative;
  display: inline-block;
}
h1::before {
  content: "";
  position: absolute;
  left: 0;
  top: -15%;
  height: 130%;
  width: 6px;
  background-color: var(--main-color);
}

h2 {
  max-width: 90%;
  text-transform: uppercase;
  font-weight: 600;
  font-size: clamp(0.7rem, 5vw, 1.5rem);
}

.button {
  font-size: clamp(0.6rem, 3vw, 1.5rem);
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  color: white;
  opacity: 1;
  margin: auto auto 0 auto;
  background-color: var(--main-color);
}
.button:hover {
  background-color: var(--main-color-darker);
}

.starting-page {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  row-gap: 5rem;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s;
}
.starting-page.fade-out {
  opacity: 0;
}
.starting-page button {
  background-color: var(--main-color);
  font-size: clamp(0.6rem, 3vw, 1.5rem);
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  color: white;
}
.starting-page button:hover {
  background-color: var(--main-color-darker);
}

.courses-page {
  height: 100vh;
  display: none;
  opacity: 0;
  transition: all 0.5s;
}
.courses-page.fade-in {
  opacity: 1;
}

.content {
  position: relative;
  height: 100%;
  width: 100%;
}

.option-wrapper {
  position: absolute;
  width: 90%;
  max-width: 95%;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: space-between;
  transform: translate(-50%, -100%);
  z-index: 0;
  opacity: 0;
  pointer-events: none;
  flex-wrap: wrap;
  gap: 5rem;
  transition: all 1s;
}
.option-wrapper.fade-in {
  pointer-events: all;
  opacity: 1;
  z-index: 10;
  transform: translate(-50%, -60%);
}
.option-wrapper.fade-out {
  pointer-events: none;
  opacity: 0;
  z-index: 0;
  transform: translate(-50%, 40%);
}

.option-wrapper--two-options {
  justify-content: space-around;
}

.option-wrapper__form {
  justify-content: center;
  top: 45%;
}

.option {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25rem;
  min-height: 25rem;
  transition: all 0.5s;
  padding: 2.5rem 2rem;
  font-weight: 500;
  background-color: white;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.option.move-out {
  opacity: 0;
}
.option i {
  font-size: clamp(3rem, 5vw, 4rem);
  align-self: center;
  color: var(--main-color);
}
.option p {
  font-size: clamp(1rem, 5vw, 1.5rem);
  margin-top: 1.5rem;
}
.option:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
}

.option--enhanced {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30rem;
  padding: 4rem 2rem 2rem 2rem;
  min-height: 35rem;
}
.option--enhanced > i {
  position: absolute;
  right: 20px;
  top: 10px;
}
.option--enhanced p {
  font-weight: 800;
  margin-bottom: 1rem;
}
.option--enhanced hr {
  border-color: var(--main-color);
  background-color: var(--main-color);
}
.option--enhanced ul {
  list-style: square;
  text-align: left;
  margin-bottom: 2rem;
}
.option--enhanced li {
  padding: 0.7rem 0;
  font-weight: 600;
}

.additional-information {
  position: absolute;
  top: -150px;
  left: 60px;
  padding: 1rem;
  cursor: auto;
  max-width: 300px;
  text-align: left;
  pointer-events: none;
  transform: scale(0);
  opacity: 0;
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transition: opacity 0.5s, transform 0.7s;
}
.additional-information.active {
  transform: scale(1);
  opacity: 1;
  pointer-events: all;
}

.additional-information__handler {
  position: absolute;
  left: 50%;
  bottom: 20px;
  z-index: 300;
  transform: translateX(-50%);
  font-size: clamp(0.6rem, 2.5vw, 1.2rem);
  padding: 0.4rem 1rem;
  border-radius: 10px;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  color: white;
  opacity: 1;
  background-color: var(--main-color);
}
.additional-information__handler:hover {
  background-color: var(--main-color-darker);
}

.badge {
  position: absolute;
  top: 8px;
  left: -10px;
  font-size: clamp(0.5rem, 3vw, 1rem);
  width: auto;
  height: auto;
  padding: 0.2rem 1.5rem;
  background-color: var(--main-color);
  color: white;
}
.badge::before {
  position: absolute;
  content: "";
  background-color: var(--main-color-darker);
  bottom: -9px;
  left: 0;
  width: 10px;
  height: 10px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.badge::after {
  position: absolute;
  content: "";
  background-color: white;
  top: 50%;
  right: -1px;
  width: 15px;
  height: 30px;
  transform: translateY(-50%);
  -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
          clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.form {
  min-width: none;
  background-color: rgba(249, 244, 244, 0.27);
  border: 1px solid var(--main-color);
  padding: 1rem 2rem;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;
  max-width: 95%;
  box-shadow: 8px -8px 0px var(--main-color);
}
.form p {
  font-size: clamp(0.8rem, 4vw, 1.2rem);
  font-weight: 600;
  margin: 0.5rem 0;
}
.form label {
  margin: 0.5rem 0;
  font-weight: 900;
}
.form input, .form textarea {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 300px;
  max-width: 100%;
  margin: 0.5rem 0;
  font-size: 16px;
  border-radius: 8px;
}
.form input:focus, .form textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
}
.form button {
  margin-top: 1rem;
  font-size: clamp(1rem, 5vw, 1.5rem);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: var(--main-color);
}
.form button:hover {
  background-color: var(--main-color-darker);
}

.form__description {
  font-size: 1rem !important;
  font-weight: 500 !important;
}

.form__time {
  font-size: 1rem !important;
  font-weight: 600 !important;
  margin: 0.5rem 0;
  align-self: center;
}

.rodo {
  display: flex;
  align-self: flex-start;
}
.rodo input {
  display: inline;
  max-width: 30px;
}
.rodo p {
  font-weight: 400;
  font-size: 1rem;
}
.rodo p a {
  text-decoration: none;
  font-weight: 600;
  color: var(--main-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.go-back {
  position: absolute;
  top: 80%;
  left: 50%;
  z-index: 130;
  transform: translateX(-50%);
  margin-top: 1rem;
  font-size: clamp(0.6rem, 3vw, 1.5rem);
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  color: white;
  opacity: 1;
  background-color: var(--main-color);
}
.go-back:hover {
  background-color: var(--main-color-darker);
}
.go-back.inactive {
  opacity: 0;
  pointer-events: none;
}

.kroki {
  position: absolute;
  top: 13px;
  left: 100px;
  font-weight: 800;
  padding: 0 1rem;
  color: black;
  position: relative;
  display: inline-block;
  font-size: clamp(1.1rem, 3vw, 2rem);
}
.kroki::before {
  content: "";
  position: absolute;
  left: 0;
  top: -15%;
  height: 130%;
  width: 6px;
  background-color: var(--main-color);
}
.kroki .counter {
  margin-left: 0.5rem;
  font-size: clamp(1.2rem, 3vw, 2.5rem);
}

@media (max-width: 1550px) {
  .option {
    width: 20rem;
    min-height: 25rem;
    padding: 1rem 1rem 3rem 1rem;
  }
  .option.move-out {
    opacity: 0;
  }
  .option-wrapper__form.fade-in {
    transform: translate(-50%, -55%);
  }
  .option--enhanced {
    padding: 3rem 1rem;
    width: 25rem;
  }
  .option--enhanced ul {
    list-style: none;
  }
  .additional-information__handler {
    font-size: clamp(0.7rem, 1.3vw, 1.2rem);
  }
}
@media (max-width: 1100px) {
  .content {
    overflow-x: hidden;
  }
  .option-wrapper {
    position: absolute;
    width: 80%;
    max-width: 95%;
    top: 10%;
    left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, 0%);
    z-index: 0;
    opacity: 0;
    pointer-events: none;
    flex-wrap: wrap;
    gap: 2rem;
    transition: all 1s;
  }
  .option-wrapper.fade-in {
    pointer-events: all;
    opacity: 1;
    z-index: 10;
    transform: translate(0%, 0%);
  }
  .option-wrapper.fade-out {
    pointer-events: none;
    opacity: 0;
    z-index: 0;
    transform: translate(50%, 0%);
  }
  .option-wrapper__form {
    justify-content: center;
    width: 95%;
    left: 2%;
  }
  .option-wrapper--two-options {
    width: 90%;
    left: 5%;
  }
  .option {
    width: 17rem;
    min-height: auto;
    padding: 4rem 1rem 4rem 1rem;
  }
  .option.move-out {
    opacity: 0;
  }
  .option--enhanced {
    padding: 3rem 1rem;
    width: 100%;
    height: auto;
  }
  .option--enhanced ul {
    list-style: none;
  }
  .go-back {
    padding: 0.4rem 0.9rem;
    top: 15px;
    left: 60%;
    transform: translate(0);
  }
  .additional-information {
    top: 50%;
    left: 50%;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem 1rem 1rem;
    max-width: 100%;
    transform: translate(-50%, -50%) scale(0);
  }
  .additional-information.active {
    transform: translate(-50%, -50%) scale(1);
  }
  .additional-information__handler {
    bottom: 15px;
  }
  .kroki {
    left: 40px;
    top: 35px;
  }
}/*# sourceMappingURL=styles.css.map */